Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is a structured collection of data that can be stored, organized, and accessed electronically. It is designed to efficiently manage and retrieve information for a wide range of purposes, from managing customer information for a business to storing scientific research data. Databases can be as simple as a single table or as complex as a large collection of tables with relationships and constraints between them. Some common examples of databases include relational databases, document-oriented databases, key-value stores, and graph databases. Databases are used in many applications, from websites and mobile apps to enterprise systems and scientific research.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems that differ in their architecture, data model, and query language.

SQL databases are relational databases that store data in tables with pre-defined columns and relationships between them. They use SQL as their primary query language for retrieving and manipulating data. Some examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of formats, such as key-value pairs, documents, and graphs. They are designed to be more flexible and scalable than SQL databases, making them a good fit for applications that require the storage of large amounts of unstructured data. Some examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, the main differences between SQL and NoSQL databases are:

1. SQL databases are relational, while NoSQL databases are non-relational.
2. SQL databases use a fixed schema, while NoSQL databases have a dynamic schema.
3. SQL databases use SQL as their primary query language, while NoSQL databases use a variety of query languages depending on their data model.
4. SQL databases are best suited for applications with structured data, while NoSQL databases are better suited for applications with unstructured or semi-structured data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans. DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database objects such as tables, indexes, constraints, and views.

DDL statements are used to define the structure of the database and its objects, including the data types of columns, relationships between tables, constraints, and permissions. These statements are executed only by database administrators or users with the necessary privileges to make changes to the database schema.

Some common DDL statements include:

1. CREATE TABLE: used to create a new table in the database.
2. ALTER TABLE: used to modify the structure of an existing table, such as adding or dropping a column or constraint.
3. DROP TABLE: used to delete a table from the database.
4. CREATE INDEX: used to create an index on a table to speed up queries.
5. CREATE VIEW: used to create a virtual table that displays a subset of data from one or more tables.
    
By using DDL commands, database administrators can create and manage the database schema, ensuring that it is consistent and optimized for efficient data retrieval and manipulation.

1) CREATE:
The CREATE command is used to create a new database object, such as a table, index, or view.

Example:

Suppose you want to create a new table to store information about employees in your organization. You can use the CREATE TABLE command to create a table with columns for each piece of information you want to store, such as name, department, salary, and hire date. Here's an example of how you might use the CREATE TABLE command:

CREATE TABLE Employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   department VARCHAR(50),
   salary DECIMAL(10,2),
   hire_date DATE
);

2) DROP:
The DROP command is used to delete an existing database object, such as a table, index, or view.

Example:

Suppose you no longer need the Employees table created earlier and want to delete it. You can use the DROP TABLE command to remove the table from the database. Here's an example of how you might use the DROP TABLE command:

DROP TABLE Employees;

3) ALTER:
The ALTER command is used to modify the structure of an existing database object, such as a table, index, or view.

Example:

Suppose you want to add a new column to the Employees table to store information about the employee's email address. You can use the ALTER TABLE command to add the column. Here's an example of how you might use the ALTER TABLE command:

ALTER TABLE Employees
ADD COLUMN email VARCHAR(50);

4) TRUNCATE:
The TRUNCATE command is used to delete all the data from an existing table. It is different from the DROP command because it only removes the data but not the structure of the table.

Example:

Suppose you want to remove all the data from the Employees table but keep its structure. You can use the TRUNCATE TABLE command to delete all rows in the table. Here's an example of how you might use the TRUNCATE TABLE command:

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

Ans.DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data within a database. DML commands are used to insert, update, delete, and retrieve data from a database.

1) INSERT:
The INSERT command is used to add new data to a table. Here's an example:

Suppose you have a table called "Employees" with columns for ID, name, department, salary, and hire date. You want to add a new employee to the table, with an ID of 1001, name of "Jane Smith", department of "HR", a salary of $60,000, and a hire date of January 1st, 2022. You can use the INSERT command to add the new employee to the table:

INSERT INTO Employees (ID, Name, Department, Salary, Hire_Date)
VALUES (1001, 'Jane Smith', 'HR', 60000, '2022-01-01');

2) UPDATE:
The UPDATE command is used to modify existing data in a table. Here's an example:

Suppose you want to give all employees in the "HR" department a 5% raise. You can use the UPDATE command to modify the "Salary" column for all employees in that department:

UPDATE Employees
SET Salary = Salary * 1.05
WHERE Department = 'HR';

3) DELETE:
The DELETE command is used to remove data from a table. Here's an example:

Suppose you want to remove all employees who were hired before January 1st, 2020. You can use the DELETE command to remove those employees from the table:

DELETE FROM Employees
WHERE Hire_Date < '2020-01-01';

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. The most common DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

Here's an example of how to use the SELECT command to retrieve data from a table:

Suppose you have a table called "Employees" with columns for ID, name, department, salary, and hire date. You want to retrieve the names and salaries of all employees in the "Sales" department. You can use the SELECT command to do this:

SELECT Name, Salary
FROM Employees
WHERE Department = 'Sales';

WE can also use the SELECT command to retrieve all columns from a table by using the "*" wildcard. For example, to retrieve all columns from the "Employees" table, you can use the following command:

SELECT *
FROM Employees;

Q5. Explain Primary Key and Foreign Key.

Ans. 1) Primary Key:
A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to enforce data integrity and ensure that each row is unique. The primary key is defined when the table is created and can be used to reference the table from other tables in the database.

For example, suppose you have a table called "Customers" with columns for ID, name, and email address. You can define the "ID" column as the primary key for the table. This ensures that each row in the table has a unique ID value, and that the ID value cannot be null.

2) Foreign Key:
A foreign key is a column or set of columns in a table that references the primary key of another table. It is used to establish relationships between tables in a relational database. The foreign key column in one table must have the same data type as the primary key column in the other table.

For example, suppose you have another table called "Orders" with columns for OrderID, CustomerID, and OrderDate. You can define the "CustomerID" column in the "Orders" table as a foreign key that references the "ID" column in the "Customers" table. This creates a relationship between the two tables, where each order is associated with a specific customer.

When a foreign key is defined, it ensures that data in the child table (the table with the foreign key) is consistent with the data in the parent table (the table with the primary key). This means that if you try to insert a value into the foreign key column that does not exist in the primary key column, the database will return an error.

In summary, primary keys and foreign keys are essential for establishing relationships between tables in a relational database. The primary key uniquely identifies each row in a table, while the foreign key references the primary key of another table. These keys ensure data integrity and consistency across the database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# Fetch all the rows from the result set
rows = mycursor.fetchall()

# Print the rows
for row in rows:
  print(row)

In the context of database programming, a cursor is an object that provides a way to navigate through the rows of a result set returned by a query, while the execute() method is used to execute a SQL statement on the database.

The execute() method is used to execute SQL statements such as SELECT, INSERT, UPDATE, DELETE, and others. It takes a string argument that contains the SQL statement to be executed. The execute() method returns no value, but it may raise an exception if there is an error with the SQL statement.

The cursor object is created using the cursor() method of the database connection object. It provides methods for navigating through the rows of a result set, fetching the rows, and performing other operations on the result set. Once a query has been executed using the execute() method, the cursor object is used to navigate the rows returned by the query and access their values.

For example, after executing a SELECT query using the execute() method, you can use the cursor's fetchone() method to retrieve the next row of the result set, or the fetchall() method to retrieve all the rows at once. You can also use the cursor's rowcount attribute to get the number of rows affected by the query.

In summary, the execute() method is used to execute SQL statements, while the cursor object is used to navigate and manipulate the result set of a query.

The fetchall() method of the cursor object is used to fetch all the rows from the result set of a query. This method returns a list of tuples, where each tuple represents a row in the result set. We can then iterate over this list and access the columns of each row using indexing.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. In a standard SQL query, the clauses are executed in the following order:

1. FROM clause: The FROM clause specifies the table or tables from which data is to be retrieved.

2. WHERE clause: The WHERE clause is used to filter the rows based on a specified condition. Rows that do not meet the condition are eliminated from the result set.

3. GROUP BY clause: The GROUP BY clause is used to group the result set by one or more columns. It is typically used in conjunction with aggregate functions, such as SUM, AVG, MAX, and MIN.

4. HAVING clause: The HAVING clause is used to filter the groups based on a specified condition. Groups that do not meet the condition are eliminated from the result set.

5. SELECT clause: The SELECT clause is used to specify the columns to be retrieved from the result set.

6. ORDER BY clause: The ORDER BY clause is used to sort the result set by one or more columns. It can sort in ascending or descending order.

7. LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query.