Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
    
Name        Age      Gender
Alice       25       Female
Bob         30        male
Claire      27       Female

In [3]:
pd.DataFrame({'Name':["Alice","Bob","Claire"],'Age':[25,30,27],'Gender':["Female","Male","Female"]})

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In Pandas, a DataFrame is a two-dimensional table-like data structure, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type (e.g., numeric, string, datetime) and a unique column name, and each row represents a single observation or instance. A DataFrame can be thought of as a collection of Pandas Series that share the same index.

In contrast, a Pandas Series is a one-dimensional array-like data structure that stores a sequence of values and an associated index. It can have a single data type (e.g., numeric, string, datetime) and a unique name, but does not have columns like a DataFrame.

Here's an example to illustrate the difference between a Pandas Series and a DataFrame:

In [4]:
import pandas as pd

# Create a Pandas Series with some sample data
series = pd.Series([1, 2, 3, 4, 5], name='Numbers')

# Create a DataFrame with two columns, one from the Series and one from a list
data = {'Letters': ['a', 'b', 'c', 'd', 'e'],
        'Numbers': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

# Print the Series and the DataFrame
print('Series:\n', series)
print('\nDataFrame:\n', df)

Series:
 0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64

DataFrame:
   Letters  Numbers
0       a        1
1       b        2
2       c        3
3       d        4
4       e        5

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans. Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions and their use cases:

1. head() and tail(): To view the first or last n rows of a DataFrame, respectively. These are useful for quick inspection of data.

In [ ]:
import pandas as pd

df = pd.read_csv('export.csv')
print(df.head(10)) # Prints the first 10 rows of the DataFrame
print(df.tail(5)) # Prints the last 5 rows of the DataFrame

2. describe(): To generate descriptive statistics of a DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. This is useful for understanding the distribution of data.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.describe()) # Generates descriptive statistics of the DataFrame

3. info(): To print a concise summary of a DataFrame, including its data types, column names, and number of non-null values. This is useful for checking the completeness and consistency of data.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.info()) # Prints a concise summary of the DataFrame

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. Both Series and DataFrame are mutable in nature, which means that you can modify their values, add or delete rows or columns, and perform various operations on them without creating a new object.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans. You can create a DataFrame using multiple Series by combining them into a single DataFrame using the pd.DataFrame() function in Pandas. Here's an example:

In [9]:
import pandas as pd

# Create three Series for Name, Age, and City
name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'Chicago', 'San Francisco'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

# Print the DataFrame
print(df)

    Name  Age           City
0   John   25       New York
1  Alice   30        Chicago
2    Bob   35  San Francisco